

/*Buttons regular*/

btn
{
	padding: 5px;
	font-size: 15px;
	background: #090A0D;
	outline: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	user-select: none;
}

btn:hover
{
	background: #15181F;
}

btn:active
{
	background: #235D41;
	outline-color: lime;
}










/*buttons lite*/

btn[lite]
{
	padding: 3px;
	font-size: 11px;
	/*background: #090A0D;*/
	background: rgba(255, 255, 255, 0.1);
	/*outline: 1px solid rgba(255, 255, 255, 0.3);*/
	/*border-radius: 5px;*/
	user-select: none;
}

btn[lite]:hover
{
	background: rgba(255, 255, 255, 0.2);
}

btn[lite]:active
{
	background: rgba(210, 255, 220, 0.2);
	color: lime;
	/*outline-color: lime;*/
}















/*inputs default styling*/

input[type='text'], input[type='password']
{
	/* all: unset; */
	color: white;
	border: none;
	border-radius: 4px;
	background: black;
	padding: 3px;
	outline: 1px solid rgba(255, 255, 255, 0.4);
}

input[type='text']:focus, input[type='password']:focus
{
	outline: 1px solid #1b8d4e;
}

