


vidman
{
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}


vidman #tree_pool
{
	display: flex;
	flex-direction: column;
	width: 200px;
	background: rgb(10, 10, 10);
}

vidman #content_pool
{
	display: flex;
	flex-grow: 1;
}


vidman #dl_pool
{
	display: flex;
	width: 300px;
	flex-direction: column;
	background: rgb(10, 10, 10);
}
















