


vidman
{
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}


vidman #tree_pool
{
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	width: 250px;
	background: rgb(10, 10, 10);
}

vidman #content_pool
{
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction: column;
	flex-grow: 1;
}

vidman #content_pool_vids
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

vidman #dl_pool
{
	display: flex;
	flex-shrink: 0;
	width: 300px;
	flex-direction: column;
	background: rgb(10, 10, 10);
}

vidman #content_pool_header
{
	display: flex;
	height: 20px;
	background: rgba(0, 0, 0, 0.1);
}



vidman #query_filters
{
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-bottom: 1px solid white;
}

vidman #qfilter_date
{
	display: flex;
	flex-direction: column;
}

vidman #exec_query_filter
{
	margin-top: 10px;
	padding: 2px;
}

vidman #tree_pool_entries
{
	padding: 5px;
	padding-top: 10px;
}

vidman #tree_pool_entries .entry_folder
{
	user-select: none;
	display: flex;
	padding: 3px;
	font-size: 17px;
	background: rgba(0, 0, 0, 0.2);
	margin-top: 3px;
}

vidman #tree_pool_entries .entry_folder:hover
{
	background: rgba(30, 30, 30, 0.4);
}

vidman #tree_pool_entries .entry_folder:active
{
	outline: 1px solid lime;
}


vidman #content_pool .vid_entry
{
	margin: 15px;
	flex-direction: column;
	width: 250px;
	height: 180px;
	background: gray;
}

vidman #content_pool .vid_entry .vid_entry_preview
{
	display: flex;
	aspect-ratio: 16/9;
	background: green;
}


vidman #content_pool .vid_entry .vid_entry_caption
{
	display: flex;
	padding: 3px;
}













