*
{
	padding: 0px;
	margin: 0px;
}


html
{
	/*display: flex;*/
	background: #110f16;
	color: white;
	font-family: 'Arial';
	height: 100%;
	width: 100%;
	overflow: hidden;
	/*flex-grow: 1;*/
/*	height: -webkit-fill-available;
	height: -moz-available;*/
}

body
{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: hidden;
	/*flex-grow: 1;*/
/*	height: -webkit-fill-available;
	height: -moz-available;*/
}


#pages_pool
{
	padding-top: 45px;
	display: flex;
	flex-grow: 1;
}

#app_topbar
{
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 35px;
	background: #08080A;
	user-select: none;
	padding: 5px;
}

#topbar_name
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	font-size: 20px;
	color: rgb(200, 200, 200);
}

#topbar_nav
{
	display: flex;
	flex-direction: row;
}

#topbar_nav btn
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}


#topbar_limits
{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #EA6D6D;
	margin: 0px 10px 0px 10px;
	font-size: 14px;
}


body[logged_in="true"] #nav_login
{
	display: none;
}

body[logged_in="true"] #nav_sign_out, body[logged_in="true"] #nav_enter_edit
{
	display: flex;
}


body[logged_in="false"] #nav_login
{
	display: flex;
}

body[logged_in="false"] #nav_sign_out, body[logged_in="false"] #nav_enter_edit
{
	display: none;
}


