

vman_admin
{
	display: flex;
	flex-direction: column;
	color: white;
	flex-grow: 1;
}

vman_admin #vma_header
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	font-size: 30px;
	color: rgb(200, 200, 200);
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	user-select: none;
}



vman_admin .vma_subpanel
{
	display: flex;
	flex-direction: column;
	width: 80%;
	background: rgba(0, 0, 0, 0.1);
	/*border-radius: 5px;*/
	margin: 40px;
	border-left: 3px solid white;
	padding: 10px;
}

vman_admin .vma_subpanel_header
{
	display: flex;
	padding: 5px;
	font-size: 25px;
	user-select: none;
	color: #ADBCC3;
}

vman_admin .vma_subpanel_ctrl
{
	display: flex;
	flex-direction: column;
	padding: 5px;
	background: rgba(0, 0, 0, 0.3);
	outline: 1px solid rgba(255, 255, 255, 0.1);
}


vman_admin .srcs_pool_entry
{
	display: flex;
	margin-top: 10px;
	padding: 5px;
	height: 22px;
}

vman_admin .srcs_pool_entry input.display_name
{
	width: 20%;
}

vman_admin .srcs_pool_entry input.full_path
{
	width: 50%;
}

vman_admin .srcs_pool_entry img
{
	user-select: none;
	height: 100%;
	object-position: center;
	object-fit: contain;
	/*aspect-ratio: 1/1;*/
	margin-left: 10px;
}

vman_admin .srcs_pool_entry img:active
{
	filter: invert(53%) sepia(53%) saturate(530%) hue-rotate(317deg) brightness(92%) contrast(103%);
}


vman_admin #vma_add_pool_src
{
	margin-top: 10px;
}

vman_admin #vma_srcs_pool .pool_entry_separator
{
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	padding: 0px 3px 0px 3px;
}

vman_admin #vma_save_sources
{
	margin-top: 20px;
	/*flex-grow: 0;*/
	width: fit-content;
}

